/* MAP CONTAINER */
.map {
    position: relative;
    width: 100%;
    height: 500px;
}

/* MAP OVERLAY */   
h1 {
    color: rgb(5, 72, 122);
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    scroll-margin-top: 70px;
    margin-top: 20px;
}

h3 {
    color: rgb(212, 157, 5);
     text-align: center;
}

h4 {
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    text-indent: -20px;
}

h5 {
    color: rgb(5, 72, 122);
    font-size: 20px;
    font-weight: bold;
}

h6 a {
    color: #d0eaff; 
    font-size: 12px;
}

/* 'Map instructions': font style and layout */
h7 {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

/* 'Map description': font size and layout */
h8 {
    font-size: 14px;
}

/* HERO SECTION (video background) */
.hero {
    position: relative;
    height: 60vh; /* adjust height of video area */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 80px;
}

#bg-video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes video fill screen */
    z-index: -1;       /* puts video behind everything */
}

.hero-title h3 {
        font-family: 'Poppins'; /* Change title font style */
        font-size: 3.2rem;
        font-weight: 700;
        letter-spacing: 1px;
    }

/* Background colour of Nav Bar */
.navbar {
    background-color: rgb(5, 72, 122) !important;
    opacity: 0.85;  
}

/* Text color of Nav Bar */
.navbar .nav-link,
.navbar .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

/* Hover color on Nav Bar */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: rgb(255, 223, 0) !important; /* hover color for nav bar */
}

@media (min-width: 576px) {
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
    }   
}

/* Image background on 'objective' text box in Homepage section */
.text-card {
    background-image: url("data/ocean-waves.jpg"); /* path to image is stored in data folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(67, 181, 204, 0.8); /* lighten background */
    background-blend-mode: lighten; 
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(23, 49, 78); /* darken text color */
    font-weight: bold;
}

.textured-box {
    margin-top: 70px; 
}

/* Position of web map on page */
.map-container {
    position: absolute;
    top: 100;
    bottom: 100;
    width: 100%;
}

.legend {
    bottom: 0px;
    left: 10px;
    background: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-colcircle {
    width: 10px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--legendcolour);
    margin-right: 6px;
}

.map-instructions {
    background: rgba(122, 56, 5, 0.08); 
    border: 1px solid rgb(199, 48, 10);  
    padding: 8px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.map-instructions {
    font-family: 'Calibri'; /* Change title font style */
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.map-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------------------------
 'DOLPHIN SPECIES' IMAGES 
 -------------------------*/
 /*--- BOTTLENOSE DOLPHIN ---*/
.img1 {
    background-image: url("data/bottlenose-dolphins.jpg"); /* Bottlenose dolphin image is stored in data folder */
}

.species-layout {
    display: flex;
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper,
.species-text {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper {
    position: relative;
    flex-shrink: 0;
}

.image-section {
    width: 100%;
    aspect-ratio: 15 / 11;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit {
    position: absolute;
    bottom: 8px;    /* moves it to the BOTTOM */
    left: 10px;     /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
}

/* Photo credit customization*/
.photo-credit strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/* Box around entire reference list at the end of the page */
.reference-box {
    background: rgba(5, 72, 122, 0.08); /* soft blue tint */
    border: 2px solid rgb(5, 72, 122);  /* color to match Nav Bar */
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*--- ROUGH-TOOTHED DOLPHIN ---*/
.img2 {
    background-image: url("data/rough-toothed-dolphin.jpg"); /* Rough-toothed dolphin image is stored in data folder */
}

.species-layout1 {
    display: flex;
    flex-direction: row-reverse; /* flips image + text */
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper1,
.species-text1 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper1 {
    position: relative;
    flex-shrink: 0;
}

.image-section1 {
    width: 100%;
    aspect-ratio: 15 / 10;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit1 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;     /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
    word-break: break-all;      /* forces long URLs to wrap */
    display: inline-block;      /* ensures wrapping works consistently */
}

/* Photo credit customization*/
.photo-credit1 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text1 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/*--- PANTROPICAL SPOTTED DOLPHIN ---*/
.img3 {
    background-image: url("data/pantropical-spotted-dolphins.jpg"); /* Pantropical dolphin image is stored in data folder */
}

.species-layout2 {
    display: flex;
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper2,
.species-text2 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper2 {
    position: relative;
    flex-shrink: 0;
}

.image-section2 {
    width: 100%;
    aspect-ratio: 17.5 / 9;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit2 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;        /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
}

/* Photo credit customization*/
.photo-credit2 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text2 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/* SPINNER DOLPHIN */
.img4 {
    background-image: url("data/spinner-dolphins.jpg"); /* Spinner dolphin image is stored in data folder */
}

.species-layout3 {
    display: flex;
    flex-direction: row-reverse; /* flips image + text */
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper3,
.species-text3 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper3 {
    position: relative;
    flex-shrink: 0;
}

.image-section3 {
    width: 100%;
    aspect-ratio: 18 / 10;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit3 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;     /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
}

/* Photo credit customization*/
.photo-credit3 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text3 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/* STRIPED DOLPHIN */
.img5 {
    background-image: url("data/striped-dolphin.jpg"); /* Striped dolphin image is stored in data folder */
}

.species-layout4 {
    display: flex;
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper4,
.species-text4 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper4 {
    position: relative;
    flex-shrink: 0;
}

.image-section4 {
    width: 100%;
    aspect-ratio: 18 / 10;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit4 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;     /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
}

/* Photo credit customization*/
.photo-credit4 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text4 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/* RISSO'S DOLPHIN */
.img6 {
    background-image: url("data/risso's-dolphin.jpg"); /* Risso's dolphin image is stored in data folder */
}

.species-layout5 {
    display: flex;
    flex-direction: row-reverse; /* flips image + text */
    gap: 20px;                   /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
}

.image-wrapper5,
.species-text5 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper5 {
    position: relative;
    flex-shrink: 0;
}

.image-section5 {
    width: 100%;
    aspect-ratio: 18 / 10;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit5 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;        /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
    word-break: break-all;      /* forces long URLs to wrap */
    display: inline-block;      /* ensures wrapping works consistently */
}

/* Photo credit customization*/
.photo-credit5 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text5 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/* FRASER'S DOLPHIN */
.img7 {
    background-image: url("data/fraser's-dolphins.jpg"); /* Fraser's dolphin image is stored in data folder */
}

.species-layout6 {
    display: flex;
    gap: 20px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-wrapper6,
.species-text6 {
    flex: 1; /* equal width */
    min-width: 0;
} 

.image-wrapper6 {
    position: relative;
    flex-shrink: 0;
}

.image-section6 {
    width: 100%;
    aspect-ratio: 18 / 10;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit6 {
    position: absolute;
    bottom: 8px;       /* moves it to the BOTTOM */
    left: 10px;     /* moves it to the LEFT side */
    margin: 0;
    padding: 4px 6px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    max-width: 96.7%;
}

/* Photo credit customization*/
.photo-credit6 strong {
    font-weight: 600; 
}

/* Vertical line across species text */
.species-text6 {
    padding-left: 20px;
    border-left: 3px solid #ccc;
    overflow-wrap: break-word;
}

/*-----------------------------------
'Threats to Their Existence' Images
-----------------------------------*/
.img8 {
    background-image: url("data/hook-in-mouth.jpg");   /* hook-in-mouth image is stored in data folder */
}

.img9 {
    background-image: url("data/vessel-wound.jpg");  /* vessel-wound image is stored in data folder */
}

.species-layout7 {
    display: flex;
    gap: 10px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-wrapper7 {
    flex: 1;                /* each image takes equal space */
    min-width: 0;
    position: relative;     /* prevents overflow */
}

.image-section7 {
    width: 100%;
    aspect-ratio: 24 / 13;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit7 {
    position: static;   /* sits BELOW the image */
    margin-top: 8px;    /* space between image and caption */
    margin: 1;
    padding: 6px 8px;
    background: rgba(0, 0, 0, 0.53);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    word-break: break-word;
}

/* Photo credit customization*/
.photo-credit7 strong {
    font-weight: 600; 
}

/*-------------------------------------------
'Conservation and Protection Efforts' Images
-------------------------------------------*/
.img10 {
    background-image: url("data/vessel-disturbance.jpg");  /* vessel-disturbance image is stored in data folder */
}

.species-layout8 {
    display: flex;
    gap: 10px; /* space between columns */
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-wrapper8 {
    flex: 1;                /* each image takes equal space */
    min-width: 0;
    position: relative;     /* prevents overflow */
}

.image-section8 {
    width: 100%;
    aspect-ratio: 25 / 12;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
}

.photo-credit8 {
    position: static;   /* sits BELOW the image */
    margin-top: 8px;    /* space between image and caption */
    margin: 1;
    padding: 6px 8px;
    background: rgba(0, 0, 0, 0.53);
    color: white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 4px;
    text-align: left;
    word-break: break-word;
}

/* Photo credit customization*/
.photo-credit8 strong {
    font-weight: 600; 
}

/*-------------------------------------------
'Sustainable Dolphin Watching' Images
-------------------------------------------*/
.img11 {
    background-image: url("data/dolphin-brochure-1.jpg");  /* dolphin-broshure-1 image is stored in data folder */
}
.img12 {
    background-image: url("data/dolphin-brochure-2.jpg");  /* dolphin-broshure-2 image is stored in data folder */
}

.species-layout9 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 5px;                      /* space between columns */
}

.image-wrapper9 {
    flex: 1;                /* each image takes equal space */
    min-width: 0;
    position: relative;     /* prevents overflow */
}

.image-section9 {
    width: 100%;
    height: auto;
    padding-top: 80%; /* controls height without cropping */
    background-size: contain;
    background-repeat: no-repeat;
     background-color: #ffffff;
    background-position: center;
}

.photo-credit9 {
    grid-column: 1 / -1;     /* spans full row */
    width: 100%;
    text-align: center;
    padding: 8px 12px;
    background: rgba(0,0,0,0.55);
    color: white;
    border-radius: 6px;
    word-break: break-word;
}

/* Photo credit customization*/
.photo-credit9 strong {
    font-weight: 600; 
}

/*----------------------------------------------*/
/* Mobile view fix for all images */
@media (max-width: 768px) {
    .species-layout {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px;  /* change font size */
        max-width: 96%;   /* prevents overflow */  
    }

    .species-layout1 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text1 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit1 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px; 
        max-width: 96%;  
    }

    .species-layout2 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text2 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit2 {
        bottom: 6px;         /* moves it to the BOTTOM */
        right: 6px;        /* moves it to the RIGHT side */
        font-size: 11px;  
        max-width: 96%; 
    }

    .species-layout3 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text3 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit3 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px; 
        max-width: 96%;   
    }

    .species-layout4 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text4 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit4 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px;  
        max-width: 96%;   
    }

    .species-layout5 {
        max-width: 88%;      
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text5 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit5 {
        bottom: 6px;            /* moves it to the BOTTOM */
        left: 6px;              /* moves it to the LEFT side */
        font-size: 11px;    
        max-width: 96%;        
    }

    .species-layout6 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .species-text6 {
        border-left: none;
        padding-left: 0;
    }

    .photo-credit6 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px;  
        max-width: 96%;  
    }

    .species-layout7 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
    }

    .photo-credit7 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px;  
        max-width: 96%;   
    }

    .photo-credit8 {
        bottom: 6px;      /* moves it to the BOTTOM */
        left: 6px;        /* moves it to the LEFT side */
        font-size: 11px;  
        max-width: 96%;    
    }
}